@model PostViewModel
@{
    ViewData["Title"] = Model.Title;
}

@Html.Partial("_Post")

<div id="commentRegion">
    <button class="button" id="loadComments">Load Comments</button>
</div>

@section scripts{
    <script>
    $(function () {
        $("#loadComments").click(function () {
            $.get('@Url.Action(action: "LoadCommentView", controller: "Post")').done(function (x) {
                console.log(x);

                $("#commentRegion").html(x);
            });
        });
     })
    </script>
}