@model UploadFileViewModel

@{
    ViewData["Title"] = "Upload Content";
}

<form method="post" asp-action="Index" asp-controller="Upload" enctype="multipart/form-data">

    <div class="row">
        <div class="twelve columns">
            <label asp-for="File"></label>
            <input type="file" asp-for="File"/>
            <span asp-validation-for="File"></span>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="@Model.Types"></select>
            <span asp-validation-for="Type"></span>
        </div>
    </div>

    <div class="row" id="folder-input">
        <div class="twelve columns">
            <label asp-for="Folder"></label>
            <input asp-for="Folder"></input>
            <span asp-validation-for="Folder"></span>
        </div>
    </div>

    <div class="row">
        <div class="eight columns">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>           
        </div>
    </div>

    <input type="submit" class="button button-primary" value="Upload" />
</form>

@section scripts{ 
    <script>
        $(function () {
            $("#folder-input").hide();

            $("#Type").change(function () {
                var value = $(this).val();

                if (value == "Post") {
                    $("#folder-input").hide();
                } else {
                    $("#folder-input").show();
                }
            });
        })
    </script>
}