@model IReadOnlyList<PostViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@for(var i = 0; i < Model.Count; i++)
{
    <div class="post">
        <h2>@Model[i].Title</h2>
        @Html.Raw(Model[i].Text)
    </div>
}